<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8" />
    <title>Live stream facebook</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 0px;
        }

        @media (min-width: 768px) {
            .row.equal {
                display: flex;
                flex-wrap: wrap;
            }
        }


        .equal>div[class*='col-'] {
            display: flex;
            flex-direction: column;
        }

        .border {
            border: 1px solid #dee2e6 !important;
        }

        .border-primary {
            border-color: #007bff !important;
        }
    </style>
</head>

<body>
    <!-- Remove this comment if you want two full width 
    <div class="container-fluid" id="root"></div> -->
    <div class="container" id="root"></div>
    <script type="text/javascript" src="./bundle.js"></script>
</body>

</html>
